article 
    .container
        section.section-seo#section-seo
            section
                h1.accordion Technical supremacy of AmunRa Casino
                .panel
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur laborum nisi iste dolore, accusantium quam sed blanditiis culpa quo modi cumque libero a aliquam, atque beatae magni doloribus similique.
            section
                h1.accordion Technical supremacy of AmunRa Casino
                .panel
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur laborum nisi iste dolore, accusantium quam sed blanditiis culpa quo modi cumque libero a aliquam, atque beatae magni doloribus similique.
            section
                h1.accordion Aesthetic pleasantries at AmunRa Casino
                .panel
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur laborum nisi iste dolore, accusantium quam sed blanditiis culpa quo modi cumque libero a aliquam, atque beatae magni doloribus similique.
            section
                h1.accordion Online casino AmunRa Casinoo hosts literally thousands of games!
                .panel
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur laborum nisi iste dolore, accusantium quam sed blanditiis culpa quo modi cumque libero a aliquam, atque beatae magni doloribus similique.
            section
                h1.accordion Brief guide on how to play AmunRa Casino slot games
                .panel
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia consectetur laborum nisi iste dolore, accusantium quam sed blanditiis culpa quo modi cumque libero a aliquam, atque beatae magni doloribus similique.