section.categories-casino
    .container
        .games-categories-wrapper
            .games-casino-title 
                .title-category 
                    h2 Casino
                    .btns-play 
                        a(href="#") Play Now
                            img.btn-next-img(src="../assets/img/arrow-small.svg", alt="small arrow")
            .game-casino-frame
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Top
                    img.game-cacino__frame(src="../assets/img/game-image/400x600book-of-sun.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category New
                    img.game-cacino__frame(src="../assets/img/game-image/400x600book-of-dead.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Popular
                    img.game-cacino__frame(src="../assets/img/game-image/400x600rise-of-dead.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Slots
                    img.game-cacino__frame(src="../assets/img/game-image/riches-of-ra.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Table games
                    img.game-cacino__frame(src="../assets/img/game-image/400x600-orient-express.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Jackpots
                    img.game-cacino__frame(src="../assets/img/game-image/jungle-books.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Live games
                    img.game-cacino__frame(src="../assets/img/game-image/coins-of-egypt.jpeg", alt="game image")
                .game-casino-frame__item
                    a.header-btn.game-casino-frame__btn-hover Play
                    a.game-casino-frame__category all games
                    img.game-cacino__frame(src="../assets/img/game-image/double-dragons.jpeg", alt="game image")