footer.footer#footer 
    .footer-content
        .container  
            .footer-btn 
                button.lenguage-btn(type="button")
                    img(src="../assets/img/languages.svg", alt="")
                    span English
                button.lenguage-btn(type="button")
                    img(src="../assets/img/live-chat.svg", alt="")
                    span Live chat
            .main-footer-menu 
                .general-menu-footer
                    h3.general-menu-footer__title.accordion-footer General Info
                    nav.panelfooter
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link About Us
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link FAQ
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Sitemap
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Contact us
                .general-menu-footer
                    h3.general-menu-footer__title.accordion-footer Security and Privacy
                    nav.panelfooter
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Privacy Policy
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Responsible Gaming
                    h3.general-menu-footer__title.mt48.accordion-footer Terms and Conditions
                    nav.panelfooter
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Terms and Conditions
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Complaints
                .general-menu-footer
                    h3.general-menu-footer__title.accordion-footer Casino
                    nav.panelfooter 
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Top
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link New
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Popular
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Slots
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Table Games
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Jackpots
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Live Games
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link All Games
                .general-menu-footer
                    h3.general-menu-footer__title.accordion-footer Live Casino
                    nav.panelfooter
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Top Rated
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Club Royale
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Roulette
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Blackjack
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Game Shows
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Baccarat and Dice
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Poker
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link All Live Casino
                .general-menu-footer
                    h3.general-menu-footer__title.accordion-footer Sports
                    nav.panelfooter 
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Sportsbook
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Live betting
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Horse racing
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Virtuals
                .general-menu-footer
                    h3.general-menu-footer__title.accordion-footer AmunRa Promotions
                    nav.panelfooter 
                        ul.general-menu-footer__list
                            li.general-menu-footer__item       
                                a(href="#").general-menu-footer__link Casino Promotions
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Sports Promotions
                            li.general-menu-footer__item      
                                a(href="#").general-menu-footer__link Shop
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Tournaments
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link VIP Levels
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Weekly Challenges
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Collections
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Spin Rally
                            li.general-menu-footer__item     
                                a(href="#").general-menu-footer__link Lucky Winner
                .partners-link.mt48
                    a(href="#").general-menu-footer__partners Partners
                    a(href="#").general-menu-footer__partners Payments
            .payments-system
                a.lenguage-btn.payments-system__btn(href="#")
                    img(src="../assets/img/payment-card/visa-payment.svg", alt="visa")
                a.lenguage-btn.payments-system__btn(href="#")
                    img(src="../assets/img/payment-card/paymsystem_mastercard.svg", alt="visa")
                a.lenguage-btn.payments-system__btn(href="#")
                    img(src="../assets/img/payment-card/bank-transfer.svg", alt="visa")
                a.payments-system__more Show More

            .licenses-footer 
                ul.licenses-footer__list 
                    li.licenses-footer__item 
                        img.licenses-footer__img(src="../assets/img/payment-card/iso-licence.svg", alt="licenses")
                    li.licenses-footer__item
                        a.licenses-footer__link(href="#")
                            img.licenses-footer__img(src="../assets/img/payment-card/antillephone-licenses.svg", alt="antillephone")
                    li.licenses-footer__item
                        a.licenses-footer__link(href="#")
                            img.licenses-footer__img(src="../assets/img/payment-card/mate-icon.svg", alt="mate")
                    li.licenses-footer__item 
                        img.licenses-footer__img(src="../assets/img/payment-card/age.svg", alt="age")

            .licenses-footer-link 
                button(type="button") License
            p.licenses-footer-text  Gambling can be addictive. Play responsibly. Amunra only accepts customers over 18 years of age. 
            p.licenses-footer-text 2022© Amunra.com All rights reserved.
    .btns-footer-enter
        .footer-registrations
            a.nav-registration__login.header-btn(href="registered-user.html") Log in
            a.nav-registration__join.header-btn(href="registered-user.html") Join now  