section.categories-casino
    .container
        .games-categories-wrapper
            .games-casino-title 
                .title-category 
                    h2 Live Casino
                    .btns-play 
                        a(href="#") See All
                            img.btn-next-img(src="../assets/img/arrow-small.svg", alt="small arrow")
            .game-casino-frame
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Top rated
                    img.game-cacino__frame(src="../assets/img/game-image/400x600dreamcatcher.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Club Royale
                    img.game-cacino__frame(src="../assets/img/game-image/400x600freebetblackjack.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Roulette
                    img.game-cacino__frame(src="../assets/img/game-image/400x600lightningdice.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Blackjack
                    img.game-cacino__frame(src="../assets/img/game-image/400x600livethreecardpokericon.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Game Shows
                    img.game-cacino__frame(src="../assets/img/game-image/free-bet-blackjack.jpeg", alt="game image")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Baccarat & Dice
                    img.game-cacino__frame(src="../assets/img/game-image/posterthumbnail00d9ec2269576d491c9af8b61e9619cf6.jpeg", alt="frame games")
                .game-casino-frame__item
                    a(href="#").header-btn.game-casino-frame__btn-hover Play
                    a(href="#").game-casino-frame__category Poker
                    img.game-cacino__frame(src="../assets/img/game-image/roulete.jpeg", alt="game image")
                .game-casino-frame__item
                    a.header-btn.game-casino-frame__btn-hover Play
                    a.game-casino-frame__category All live casino
                    img.game-cacino__frame(src="../assets/img/game-image/side-bet-sity.jpeg", alt="game image")