section.promo
    .container
        .games-categories-wrapper
            .game-casino-title 
                .title-category
                    h2 Specials Promotions
                                    
            .promo-casino-frame
                .promo-casino-frame__item
                    .promo-casino-frame__title collections
                    .promo-casino-frame__text Get guaranteed prize up to
                    .promo-casino-frame__bonus €2,500
                    .promo-casino-frame__btn 
                        a.main-btn.main-btn_promo(href="#") See all
                    img.promo-casino-frame__hero.promo-casino-frame__hero_gods(src="../assets/img/promo-img/collection-img-promo.png", alt="")


                .promo-casino-frame__item
                    .promo-casino-frame__title The Masters
                    .promo-casino-frame__text Sports Tournaments
                    .promo-casino-frame__bonus €1,500
                    .promo-casino-frame__btn 
                        a.main-btn.main-btn_promo(href="#") Play Now
                    img.promo-casino-frame__hero(src="../assets/img/promo-img/sport_tournament_hero.png", alt="")

                .promo-casino-frame__item
                    .promo-casino-frame__title Spin rally
                    .promo-casino-frame__text Prize Pool up to
                    .promo-casino-frame__bonus €200
                    .promo-casino-frame__btn 
                        a.main-btn.main-btn_promo(href="#") Play Now
                    img.promo-casino-frame__hero.promo-casino-frame__hero_spin-first(src="../assets/img/promo-img/spin_rally_hero1.png", alt="")
                    img.promo-casino-frame__hero.promo-casino-frame__hero_spin-second(src="../assets/img/promo-img/spin_rally_hero2.png", alt="")
                    img.promo-casino-frame__hero.promo-casino-frame__hero_spin-mobil(src="../assets/img/promo-img/promo-spin-rally-mob.png", alt="")



                .promo-casino-frame__item
                    .promo-casino-frame__title Lucky Winner
                    .promo-casino-frame__text Login every day up to
                    .promo-casino-frame__bonus €5,000
                    .promo-casino-frame__btn 
                        a.main-btn.main-btn_promo(href="#") More Info
                    img.promo-casino-frame__hero(src="../assets/img/promo-img/lucky_winner_hero.png", alt="")
                                    

                                   