header.header#header 
    .navigation-header
        button.burger-header#burger-header(type="button")
            .burger-header__bg 
                .burger-header__img
        .burger-header-main.burger-header-main_register#burger-header-main
            .menu-burger#menu-burger
                button.burger-window__btn#burger-window__btn
                    span.close.close-regestered-page
                nav
                    ul.menu-burger__list
                        li.menu-burger__item 
                            a(href="#").menu-burger__link Casino
                        li.menu-burger__item 
                            a(href="#").menu-burger__link Live Casino 
                        li.menu-burger__item 
                            a(href="#").menu-burger__link Sport
                        li.menu-burger__item 
                            a(href="#").menu-burger__link Promotions 
                        li.menu-burger__item 
                            a(href="#").menu-burger__link Tournaments
        nav.menu 
            ul.menu__list 
                li.menu__item 
                    a.menu__link(href="#") Promotions
                li.menu__item 
                    a.menu__link(href="#") Collections
                li.menu__item 
                    a.menu__link(href="#") Shop
        a.header-logo(href="index.html")
            img.header-logo__img(src="../assets/img/logo-AmunRa.svg", alt="Logo AmunRa")
        .nav-user-data 
            .nav-user-data__coins 101
            .nav-user-data__money NZ$ 5,048.87
            a.nav-user-data__deposit.header-btn(href="#") Deposit
            
                a.nav-user-data__accaunt(href="#")
                    img(src="../assets/img/header-registred/icon-accaunt.svg", alt="").nav-user-data__icon
            .form-search-wrapper    
            form.form-search(action="#")  
                input.form-search-game(type="search" placeholder="Search game")
                button.button-search 
                    span.icon-search 
    .nav-bottom__wrapper
        nav
            ul.nav-bottom__list 
                li.nav-bottom__item 
                    a(href="#").nav-bottom__link Casino
                li.nav-bottom__item 
                    a(href="#").nav-bottom__link Live Casino
                li.nav-bottom__item 
                    a(href="#").nav-bottom__link Sports

                    
        