.registered-main
    .container  
        .main-offer 
            .main-offer__title Get your chance to
            .main-offer__title collect all God cards!
            .main-offer__text Collections
            a(href="#").main-offer__btn.main-btn Collect

.main-slider.main-mask
    .slider-wrapper
        button.btn-prev#btn-prev(type="button")
            img(src="../assets/img/arrow-right.png", alt="arrow left")
        button.btn-next#btn-next(type="button")
            img(src="../assets/img/arrow-left.png", alt="arrow left")
        .slide.active
            .slide-size 
                h2.bonus__name Casino Welcome Bonus
                h1.bonus__win 100% up to €500 + 100 Free Spins
                .border-btn
                    a.main-btn.main-btn-modern(href="#") Play now
        .slide
            .slide-size 
                h2.bonus__name First Deposit Bonus
                h1.bonus__win 100% up to €100
                a.main-btn.main-btn-modern(href="#") Play now
        .dots-wraper 
            button.dot.active(type="button")
            button.dot(type="button")