section.categories-casino
    .container
        .games-categories-wrapper
            .games-casino-title 
                .title-category 
                    h2 Sports
                    .btns-play 
                        a(href="#") Place Bet
                            img.btn-next-img(src="../assets/img/arrow-small.svg", alt="small arrow")
            .game-sport-frame
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Live betting
                    img.game-sport-frame__ball.game-sport-frame__ball_mode(src="../assets/img/sport-images/ball-betting.png", alt="ball live betting")
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Football
                    img.game-sport-frame__ball(src="../assets/img/sport-images/ball-football.png", alt="game image")
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Tennis
                    img.game-sport-frame__ball(src="../assets/img/sport-images/ball-tennis.png", alt="game image")
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Basketball
                    img.game-sport-frame__ball(src="../assets/img/sport-images/ball-basketball.png", alt="game image")
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Ice Hockey
                    img.game-sport-frame__ball(src="../assets/img/sport-images/ball-hockey.png", alt="game image")
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Table tennis
                    img.game-sport-frame__ball.game-sport-frame__ball_mode(src="../assets/img/sport-images/ball-betting.png", alt="frame games")
                .game-sport-frame__item
                    a(href="#").header-btn.game-sport-frame__btn-hover Bet
                    a(href="#").game-sport-frame__category Horse racing
                    img.game-sport-frame__ball(src="../assets/img/sport-images/ball-horse.png", alt="game image")
                .game-sport-frame__item
                    a.header-btn.game-sport-frame__btn-hover Bet
                    a.game-sport-frame__category Virtuals
                    img.game-sport-frame__ball.game-sport-frame__ball_mode(src="../assets/img/sport-images/footbol-ball-inst.png", alt="game image")