@media (max-width: 1440px) {
    .nav-registration__join {
        padding: 7px 23px;
    }
    .main-slider {
        height: 495px;
    }
    .btn-next {
        top: 88%;
        right: 14px;
    }
    .btn-prev {
        left: 14px;
        top: 88%;

    }

    .content-casino {
        padding: 8px 0px 24px 0px;
    }
    .slider-wrapper {
        padding-top: 115px;
    }
    .dots-wraper {
        top: 198%;
    }
    .title-category {
        margin-top: 16px;

    }
}