@media (max-width: 360px) {
    .title-category {
        margin-bottom: 16px;
        h2 {
            font-size: 19px;
        }
    }
    .categories-casino {
        margin-bottom: 31px;
    }
    .promo {
        padding: 3px 0px;
    }
    .section-seo {
        padding: 44px 0px 8px;
    }
    .footer-content {
        padding-top: 67px;
    }
}