@media (max-width: 1024px) {

    .nav-bottom__wrapper {
        bottom: 19px;
    }

    .burger-header__bg {
        top: 7px;
        left: 5px;
    }
    .header-logo {
        width: 133px;
    }
    .btns-header-responsive {
        display: none;
    }
    .navigation-header {
        &:before {
            display: none;
        }
    }
    .slider-wrapper {
        padding-top: 121px;
    }

    .btn-prev, .btn-next {
        display: none;
    }

    .dots-wraper {
        top: 194%;
    }

    .content-casino {
        padding: 8px 0px 0px 5px;
    }


    .title-category {
        margin-top: 18px;
    }

    .game-casino-frame, .game-sport-frame {
        grid-auto-flow: column;
        overflow-y: auto;
        overscroll-behavior-y: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        grid-auto-rows: 232px;
        &::-webkit-scrollbar {
            display: none;
        }
        &__item {
            width: 154px;
            &:hover {
                transform: scale(1);
            }
        }
        &:hover {
            transform: none;
            z-index: 3;
            transition: none;
            box-shadow: none;
        }
    }

    .game-casino__btn-hover {
        padding: 10px 44px;
    }

    .categories-casino {
        margin-bottom: 40px;
    }

    .promo-casino-frame {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 421px;
        &__hero {
            &_spin-first {
                display: none;
            }
            &_spin-second {
                display: none;
            }
            &_spin-mobil {
                display: block;
            }
        } 
    }

    .promo {
        padding-bottom: 19px;
    }



    .main-btn-modern {
        margin-top: 28px;
    }

    .section-seo {
        padding: 38px 0px 16px;
        section {
            margin-bottom: 15px;
        }
    }
    .footer-content {
        padding: 56px 0px 0px;
    }
    .payments-system__btn {
        width: 120px;
    }

    .general-menu-footer__title {
        font-size: 14px;
    }
    .payments-system {
        margin: 0px 0px 13px;
    }
    .licenses-footer-text:not(:last-child) {
        margin-bottom: 9px;
    }
    .licenses-footer-link {
        margin-bottom: 14px;
    }
    .btns-footer-enter {
        display: block;
    }
    .btns-footer-enter {
        background: url(../img/bg-btns-footer.png) repeat center center;
        height: 75px;
    }
    .footer-registrations {
        text-align: center;
        padding: 21px;
    }

    .licenses-footer-link {
        margin-bottom: 11px;
        buttom {
            font-size: 11px;
        }
    }
    .licenses-footer__list {
        margin-bottom: 12px;
    }
    .licenses-footer-text:not(:last-child) {
        margin-bottom: 16px;
    }

    .nav-registration {
        &__login {
            padding: 10px 43px;
            margin-right: 14px;
        }
        &__join {
            padding: 10px 32px;
            background: $colorBtnGreen;
                &:hover {
                    background: $colorBtnBrow;
                }
        }
    }
    .nav-user-data {
        &__coins {
            display: none;
        }
        &__money {
            display: none;
        }
        &__deposit {
            display: none;
        }
    }
}
