@media (max-width: 412px) {
    .nav-registration__login, .nav-registration__join {
        padding: 9px 23px;
        font-size: 9px;
    }
    .nav-bottom__wrapper {
        width: 357px;
        right: 7%;
    }
    .main-slider {
        height: 287px;
    }
    .dots-wraper {
        top: 149%;
    }
    .accordion {
        width: 99%;
        padding: 15px 26px;
    }
    .section-seo section {
        margin-bottom: 9px;
    }
    .footer-content {
        padding-top: 80px;
    }
    .main-footer-menu {
        padding: 0px 8px;
        margin: 22px 0px;

    }
    .general-menu-footer__title {
        padding: 16px 9px;
    }
}