.registered-main {
    background: url(../img/register-banner.jpg) no-repeat center center / cover;
    width: 100%;
    height: 498px;
}

.main-offer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 332px;
    z-index: 3;
    justify-content: flex-end;
    padding-top: 220px;
    &__title {
        color: $orange;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 700;
        font-size: 24px;
        margin-bottom: 8px;
    }
    &__text {
        color: $white;
        font-weight: 800;
        font-size: 48px;
        margin-bottom: 24px;
    }
}

.main-mask {
    display: none;
}

