$textColor: #AF876B;
$colorLink: #E9C8B0;
$white: #fff;
$textSadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$orange: #FF9900;
$colorBrown: #492801;
$acordionColor: #241502;
$footerColor: rgb(40,40,40);
$colorBtnGreen: linear-gradient(180deg, #18E0C8 0%, #1A8B92 100%);
$colorBtnBrow: linear-gradient(180deg, #3B1303 0%, #561905 100%);